div.mc-survey {
    margin: 10px;
    padding: 5px;
    background-color: #DDD;
}

div.mc-survey-title {
    border-left: 10px solid #E44;
    padding-left: 5px;
    font-weight: bold;
    font-size: 1.3em;
}

div.mc-survey-desc {
    border-bottom: 1px solid #E44;
    padding: 10px 5px;
    margin-bottom: 10px;
    font-style: italic;
}

div.mc-survey-footer {
    border-top: 1px solid #E44;
    padding: 10px 5px;
    margin-top: 10px;
    font-style: italic;
    font-size: 0.6em;
    background-color: #CCC;
    text-align: center;
}

div.mc-question {
    background-color: #EEE;
    padding: 5px;
    margin: 10px;
}

div.mc-text {
    background-color: #FEE;
    font-weight: bold;
}

div.mc-question .mc-contents {
    margin-top: 5px;
}

div.mc-hidden {
    display: none;
}
