doctype html
head
  block title
    title ModelCitizen
  link(rel='stylesheet', href='/css/main.css')
  script(src='/js/vendor/require.js')
  script.
    require.config({
        baseUrl: '/js',
        paths: {
            jquery: 'vendor/jquery-1.11.0.min',
            surveys: '/surveys'
        }
    });
body
  include header
  div.content
    block content
  include footer
